/* Bootstrap Path Change */

html {
}

body {
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}

img {
  vertical-align: baseline;
}

.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fill {
  height: 100%;
  width: 100%;
}

.scroll-vertical {
  height: 100%;
  overflow-y: auto;
  width: 100%;
}

.text-align-center {
  text-align: center;
}

.panel-titlebar-text {
  color: white !important;
}

md-toast {
  z-index: 10000 !important;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.8);
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(100, 100, 100, 0.4);
}
