.bg-25 {
  background: rgb(25, 25, 25);
}

.bg-highlight-blue {
  background-color: rgb(17, 108, 214);
}

.bg-highlight-darkblue {
  background-color: #014a75;
}

.bg-highlight-darkblue-grad {
  background: #01629e !important;
  background: -moz-linear-gradient(top, #01629e 0%, #014a75 100%) !important;
  background: -webkit-linear-gradient(top, #01629e 0%, #014a75 100%) !important;
  background: linear-gradient(to bottom, #01629e 0%, #014a75 100%) !important;
}

.tone-cplate-out {
  background: rgba(32, 32, 32, 1);
  box-shadow: inset 1px 1px 0px 0px rgba(48, 48, 48, 1);
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.tone-cplate-out-hover {
  background: rgba(32, 32, 32, 1);
  box-shadow: inset 1px 1px 0px 0px rgba(48, 48, 48, 1);
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.tone-cplate-out-hover:hover {
  background: rgba(48, 48, 48, 1);
}

.tone-cplate-in {
  background-color: rgba(48, 48, 48, 1);
  box-shadow: inset -1px -1px 0px 0px rgba(25, 25, 25, 1);
}

.tone-text-primary {
  color: white;
  text-decoration: none;
}

.tone-text-primary-hover {
  color: white;
  text-decoration: none;
}

.tone-text-primary-hover:hover {
  color: rgba(17, 108, 214, 1);
  text-decoration: none;
}

.tone-text-secondary {
  color: darkgrey;
  text-decoration: none;
}

.tone-text-secondary-hover {
  color: darkgrey;
  text-decoration: none;
}

.tone-text-secondary-hover:hover {
  color: white;
  text-decoration: none;
}

.tone-text-highlight-hover {
  color: rgb(17, 108, 214);
}

.tone-text-highlight-hover:hover {
  color: white;
}

.dropdown-menu {
  background: rgba(32, 32, 32, 1);
  box-shadow: inset 1px 1px 0px 0px rgba(48, 48, 48, 1);
  border: 1px solid white;
}

.dropdown-menu>li>a {
  color: white;
}

.dropdown-menu>li>a:hover {
  background: rgb(48, 48, 48);
  color: white;
}

md-toast.md-success-theme .md-toast-content,
md-toast .md-toast-content {
  background-color: rgb(17, 108, 214);
  font-weight: bold;
}


md-toast.md-error-theme .md-toast-content,
md-toast .md-toast-content {
  background-color: rgb(199, 0, 0);
  font-weight: bold;
}
